

			/*-------------------------*/

			/* You Comments */

			/*-------------------------*/
            
            .infobox-style-2 .tcr-infobox-wrapper .tcr-infobox-icon .icon-number,
            .infobox-style-2 .tcr-infobox-icon i,
            .infobox-style-9 .tcr-infobox-icon i,
            .infobox-style-8 .tcr-infobox-icon i, 
            .infobox-style-6 .tcr-infobox-icon i,
            .infobox-style-1 .tcr-infobox-wrapper .tcr-infobox-icon i,
            .infobox-style-1 .tcr-infobox-wrapper .tcr-infobox-icon .icon-number,
			.tcr-footer-widgets-wrapper .widget .tcr-post-content a:hover,
			.tcr-footer-widgets-wrapper .menu li a:hover,
			ul.parezy-footer-menu a:hover,
			.counter-style-2 .tcr-counter-icon,
			.comment-list a.comment-reply-link:hover,
			.infobox-style-5 .tcr-infobox-icon,
			.infobox-style-4-counter .elementor-row .elementor-element:nth-of-type(4n+1) .elementor-widget-parezy-infobox .tcr-infobox-icon,
			.header-right-side .search-wrapper a,
			.cd-color-transparent.elementor-button.elementor-size-sm,
			.counter-style-1 .tcr-counter-icon,
			.blog-style-2.blog-layout-slider .owl-stage > .owl-item:nth-of-type(4n+1) .tcr-post-wrapper .tcr-post-title h3 a:hover,
			.blog-style-2.blog-layout-grid > .row > .col-sm-12:nth-of-type(4n+1) .tcr-post-wrapper .tcr-post-title h3 a:hover,
			.primary-infobox-2 .infobox-style-2 .tcr-infobox-icon,
			.primary-infobox-2-last .infobox-style-2 .tcr-infobox-icon,
			.infobox-style-3 .tcr-infobox-icon,
			.services-style-2.services-layout-slider .owl-stage > .owl-item:nth-of-type(3n+1) .tcr-service-wrapper .service-title a:hover,
			.services-style-2.services-layout-grid > .row > .col-sm-12:nth-of-type(3n+1) .tcr-service-wrapper .service-title a:hover,
			.services-style-2.services-layout-slider .owl-stage > .owl-item:nth-of-type(3n+1) .tcr-service-slide .tcr-service-wrapper .tcr-service-date,
			.services-style-2.services-layout-grid > .row > .col-sm-12:nth-of-type(3n+1) .tcr-service-slide .tcr-service-wrapper .tcr-service-date,
			.services-style-1.services-layout-slider .owl-stage > .owl-item:nth-of-type(4n+1) .tcr-service-service-wrapper .tcr-service-content-inner .tcr-service-title h3 a:hover,
			.services-style-1.services-layout-grid > .row > .col-sm-12:nth-of-type(4n+1) .tcr-service-service-wrapper .tcr-service-content-inner .tcr-service-title h3 a:hover,
			.services-style-1.services-layout-slider .owl-stage > .owl-item:nth-of-type(4n+1) .tcr-service-slide .tcr-service-date,
			.services-style-1.services-layout-grid > .row > .col-sm-12:nth-of-type(4n+1) .tcr-service-slide .tcr-service-date,
			.infobox-style-1 .tcr-infobox-wrapper .infobox-btn-link a,
			.blog-style-2 .tcr-post-wrapper .read-more-link a,
			.header-layout-1 .header-info-content a,
			.header-layout-3 .header-topbar li i,			
			.tcr-blog-classic .entry-title a:hover,
            .team-style-1 .teammember-title a:hover,
            .blog-style-1 .tcr-post-slide h3 a:hover,
            .team-style-2 .tcr-teammember-title h3 a:hover,
            .widget_recent_services ul li:hover a,
			.widget_recent_services ul li a[aria-current="page"],
			.widget_recent_services ul li:hover a:after,
			.widget_recent_services ul li a[aria-current="page"]:after,
            .site-header .main-navigation div > ul ul li.current-menu-item > a,
            .tcr-copyright .social-icons li a:hover,
			.tcr-action-box a,					
			.comment-list .comment-date a,
			.tcr-blog-classic .social-share-button i,
			.tcr-blog-classic .entry-meta-footer .entry-meta-container i,
			.site-header .main-navigation div > ul ul li a:hover,
			.widget_tcr_recent_entries li .tcr-post-date,			
			a:hover,
			.skincolor,
			.tcr-footer-widgets-wrapper .menu li a:before,
			.tcr-footer-widgets-wrapper .widget_contact i,
			.tcr-page-title .breadcrumb i,
			.tcr-classes--wrapper .classes-field,
			.services-style-4 .tcr-service-category,
			.counter-style-3 .tcr-counter-wrapper .tcr-counter-number,
			.tcr-list-wrapper ul li i{color: #4559b3; }
            
            .infobox-style-5 .tcr-infobox-icon span,
            .infobox-style-3 .tcr-infobox-icon .icon-number,
            .infobox-style-1 .tcr-infobox-wrapper .icon-number,
            .tcr_progress_bar_wrapper.progress-bar-style-3 .tcr-progress-bar-inner,
			.progress-bar-style-1 .tcr-progress-bar-value,
            .blog-style-1 .tcr-post-date:after,
            .timeline-style-1 .parezy-timeline-wrapper,
			.tcr-list-tab.cd-active-tab-link a,
			.testimonials-style-2 .owl-stage .owl-item:nth-of-type(4n+1) .tcr-testimonial-slide .tcr-testimonials-title .testimonial-title,
            .info-bg-color.bg-color-01 .infobox-style-7 .tcr-infobox-icon,
			.tcr-project-details,
			.tcr-teammember-link-profiles li:nth-of-type(3n+1) a,
            .contact-social .social-info-wrapper ul li:nth-of-type(3n+1) a,
            .widget_tag_cloud a:nth-of-type(4n+1),
            .footer-topbar .contact-info-inner .tcr-footer-box:nth-of-type(3n+1) .parezy-footer-icon,
			.pricing-table-color .elementor-row > .elementor-column:nth-of-type(4n+3) .elementor-widget-parezy-pricing-table .tcr_pricing_table_wrapper .tcr-pricing-table-footer .tcr-pricing-table-button a:hover,
            .pricing-table-color .elementor-row > .elementor-column:nth-of-type(4n+1) .elementor-widget-parezy-pricing-table .tcr_pricing_table_wrapper .tcr-pricing-table-footer .tcr-pricing-table-button a,
			.pricing-table-color .elementor-row > .elementor-column:nth-of-type(4n+2) .elementor-widget-parezy-pricing-table .tcr_pricing_table_wrapper,
			.blog-style-2.blog-layout-slider .owl-stage > .owl-item:nth-of-type(4n+1) .tcr-post-wrapper .tcr-post-meta .tcr-post-meta-inner,
			.blog-style-2.blog-layout-grid > .row > .col-sm-12:nth-of-type(4n+1) .tcr-post-wrapper .tcr-post-meta .tcr-post-meta-inner,
			.blog-style-2.blog-layout-grid > .col-sm-12:nth-of-type(4n+1) .tcr-post-wrapper .tcr-post-meta .tcr-post-meta-inner,
			.team-style-2 .tcr-teammember-social-profile a:hover,
            .team-style-1 .tcr-teammember-content-cover .tcr-teammember-share,
            .single-service .item-download a:hover,   
			.elementor-section.cd-bg-color-primary,
			.cd-right-expand.cd-bg-color-primary .elementor-column-wrap:after,
			.cd-left-expand.cd-bg-color-primary .elementor-column-wrap:after,
			.cd-right-expand.elementor-top-section.cd-bg-color-primary:after,
			.cd-left-expand.elementor-top-section.cd-bg-color-primary:after,
			.cd-bg-color-primary.elementor-column > .elementor-column-wrap,
			.tcr-form.appointment-form input[type=submit],
			.cd-color-primary.elementor-button.elementor-size-sm,
			.cd-color-secondary:hover.elementor-button.elementor-size-sm,
			.cd-color-tertiary:hover.elementor-button.elementor-size-sm,
			.time-line-lable .elementor-widget-container,
			.site-footer .social-info-wrapper ul li a:hover i,           
            .site-header .main-navigation div > ul >li.current-menu-parent > a, 
            .site-header .main-navigation div > ul >li:hover > a, 
            .wp-block-calendar table td#today,
            .wp-block-search button,
            .widget_calendar table td#today,
            .parezy-form.contact-form input[type=submit],
            .site-header ul.social-info li:nth-child(4n+4) a,
            .single-service .item-download a,
            #scroll-to-top a,
			.site-footer a.footer-button-link,
			.site-footer .tcr-footer-newslatter button[type=submit],
            .arrow-middle-left-right .owl-nav button.owl-prev:hover, 
            .arrow-middle-left-right .owl-nav button.owl-next:hover,
            .widget_tag_cloud a:hover,
			.comment-navigation .nav-next:hover:after,
			.posts-navigation .nav-next:hover:after,
			.post-navigation .nav-next:hover:after,
			.comment-navigation .nav-previous:hover:before,
			.posts-navigation .nav-previous:hover:before,
			.post-navigation .nav-previous:hover:before,
			.widget_recent_services h2.widget-title,
			body .elementor-element .elementor-widget-accordion .elementor-accordion .elementor-tab-title.elementor-active,
            .tcr-teammember-link-profiles li a:hover,
			input[type=submit]:hover,
			.comment-list a.comment-reply-link,
			.site-header ul.social-info li a:hover,			
			.wpb-js-composer .tcr-accordion-style-1 .vc_tta.vc_general .vc_tta-panel.vc_active .vc_tta-panel-title>a:before,
			.owl-dots .owl-dot.active span,
			button.tcr-search-button,
			.tcr-year,
			.tcr-about-introbox:before,
			.tcr-blog-classic footer ul.social-share-icons a.icon-link,
			.tcr-blog-classic .posted-on:after,
			.site-header .main-navigation div > ul ul a:hover:before,
			.col-extend-right.extend-with-primary-bg:after,
			.vc_row.tcr-bg-color-primary,
			.wpb_column.tcr-bg-color-primary > .vc_column-inner,
			.wp-block-tag-cloud a:hover,
			body.search input.search-submit,
			.nav-links .page-numbers:hover,
			.nav-links .page-numbers.current,
			.comment-respond .comment-form input[type=submit],
			section.error-404 .search-form .search-submit:hover,
			section.error-404 a.fof-back-buttton,
			body.search .search-form input.search-submit,
			.wp-block-button__link:hover,
			.tcr-classes--wrapper .tcr-classes-content-price,
			.services-style-4.services-layout-slider .owl-stage > .owl-item:nth-of-type(4n+1) .tcr-service-content-cover .tcr-service-date{background-color: #4559b3; }

			.tcr-tab-list,
			.post.sticky .tcr-blog-classic-inner{border-color:#4559b3;}


			.tcr-action-box a,
			.services-style-1.services-layout-slider .owl-stage > .owl-item:nth-of-type(4n+1) .tcr-service-slide .tcr-service-service-wrapper,
			.services-style-1.services-layout-grid > .row > .col-sm-12:nth-of-type(4n+1) .tcr-service-slide .tcr-service-service-wrapper{border-bottom-color:#4559b3;}

			input:focus,select:focus,textarea:focus{border-color:#4559b3;}

			.projects-style-1 .tcr-project-content-cover .tcr-project-content-inner{background-color: rgba(69, 89, 179, 0.92); }
			
			.header-right-side .search-wrapper a,
			.services-style-2.services-layout-grid > .row > .col-sm-12:nth-of-type(3n+1) .tcr-service-slide  .tcr-service-wrapper .tcr-service-date,
			.services-style-2.services-layout-slider .owl-stage > .owl-item:nth-of-type(3n+1) .tcr-service-slide .tcr-service-wrapper .tcr-service-date{background-color: rgba(69, 89, 179, 0.14); }
			.infobox-style-4-counter .elementor-row .elementor-element:nth-of-type(4n+2) .elementor-widget-parezy-infobox .tcr-infobox-icon,
           	ul.parezy-footer-menu li a:before,
			.cd-color-transparent.elementor-button.elementor-size-sm:hover,
			.blog-style-2.blog-layout-slider .owl-stage > .owl-item:nth-of-type(4n+2) .tcr-post-wrapper .tcr-post-title h3 a:hover,
			.blog-style-2.blog-layout-grid > .row > .col-sm-12:nth-of-type(4n+2) .tcr-post-wrapper .tcr-post-title h3 a:hover,
			.secondary-infobox-2 .infobox-style-2 .tcr-infobox-icon,
			.testimonials-style-1 .tcr-testimonial-image-container:before,
			.services-style-2.services-layout-slider .owl-stage > .owl-item:nth-of-type(3n+2) .tcr-service-wrapper .service-title a:hover,
			.services-style-2.services-layout-grid > .row > .col-sm-12:nth-of-type(3n+2) .tcr-service-wrapper .service-title a:hover,
			.services-style-2.services-layout-slider .owl-stage > .owl-item:nth-of-type(3n+2) .tcr-service-slide .tcr-service-wrapper .tcr-service-date,
			.services-style-2.services-layout-grid > .row > .col-sm-12:nth-of-type(3n+2) .tcr-service-slide .tcr-service-wrapper .tcr-service-date,
			.services-style-1.services-layout-slider .owl-stage > .owl-item:nth-of-type(4n+2) .tcr-service-service-wrapper .tcr-service-content-inner .tcr-service-title h3 a:hover,
			.services-style-1.services-layout-grid > .row > .col-sm-12:nth-of-type(4n+2) .tcr-service-service-wrapper .tcr-service-content-inner .tcr-service-title h3 a:hover,
			.services-style-1.services-layout-slider .owl-stage > .owl-item:nth-of-type(4n+2) .tcr-service-slide .tcr-service-date,
			.services-style-1.services-layout-grid > .row > .col-sm-12:nth-of-type(4n+2) .tcr-service-slide .tcr-service-date,
            .widget.widget_meta ul li>a:before,
            .widget.widget_pages ul li>a:before,
            .widget.widget_nav_menu ul li>a:before, 
			.widget.widget_recent_entries ul li:before,
			.widget.widget_recent_comments ul li:before,
			.widget.widget_archive ul li a:before,
			ul.wp-block-archives li>a:before,
			.widget.widget_categories ul li>a:before,
			.progress-bar-style-2 .tcr-counter-icon,
			.header-layout-1 .contact-info i, 
			.counter-style-5 .tcr-counter-number,
			.arrow-full-right .projects-style-2 .owl-carousel .owl-nav button.owl-prev,
			.arrow-full-right .projects-style-2 .owl-carousel .owl-nav button.owl-next {color: #4559b3; }	

            
            .blog-style-1 .tcr-post-category a,
			.testimonials-style-2 .owl-stage .owl-item:nth-of-type(4n+2) .tcr-testimonial-slide .tcr-testimonials-title .testimonial-title,
 			.info-bg-color.bg-color-02 .infobox-style-7 .tcr-infobox-icon,
			.tcr-teammember-link-profiles li:nth-of-type(3n+2) a,
			.contact-social .social-info-wrapper ul li:nth-of-type(3n+2) a,
            .widget_tag_cloud a:nth-of-type(4n+2),
            .site-footer .parezy-footer-newslatter button[type=submit],
            .site-footer a.footer-button-link:hover, 
            .footer-topbar .contact-info-inner .tcr-footer-box:nth-of-type(3n+2) .parezy-footer-icon,
			.site-header ul.social-info li:nth-child(4n+1) a,
			.projects-style-1.projects-layout-slider .owl-nav .owl-prev:hover,
			.projects-style-1.projects-layout-slider .owl-nav .owl-next:hover,
            input[type=submit],
            .team-style-2 .tcr-teammember-social-profiles-container,
			.team-style-2 .tcr-teammember-social-profile a,
			.pricing-table-color .elementor-row > .elementor-column:nth-of-type(4n+3) .elementor-widget-parezy-pricing-table .tcr_pricing_table_wrapper .tcr-pricing-table-footer .tcr-pricing-table-button a,
			.pricing-table-color .elementor-row > .elementor-column:nth-of-type(4n+1) .elementor-widget-parezy-pricing-table .tcr_pricing_table_wrapper,
            .blog-style-2.blog-layout-slider .owl-stage > .owl-item:nth-of-type(4n+2) .tcr-post-wrapper .tcr-post-meta .tcr-post-meta-inner,
			.blog-style-2.blog-layout-grid > .row > .col-sm-12:nth-of-type(4n+2) .tcr-post-wrapper .tcr-post-meta .tcr-post-meta-inner,
			.blog-style-2.blog-layout-grid > .col-sm-12:nth-of-type(4n+2) .tcr-post-wrapper .tcr-post-meta .tcr-post-meta-inner,
			.team-style-1 .tcr-teammember-social-profiles li a:hover,
			.elementor-section.cd-bg-color-secondary,
			.cd-right-expand.cd-bg-color-secondary .elementor-column-wrap:after,
			.cd-left-expand.cd-bg-color-secondary .elementor-column-wrap:after,
			.cd-right-expand.elementor-top-section.cd-bg-color-secondary:after,
			.cd-left-expand.elementor-top-section.cd-bg-color-secondary:after,
			.contact-box,
			.cd-color-primary:hover.elementor-button.elementor-size-sm,
			.cd-color-secondary.elementor-button.elementor-size-sm,
			.appointment-form-2 .input-button input[type=submit]:hover,
            #scroll-to-top a:hover,			
			.widget_recent_services ul li:hover a:before,
			.widget_recent_services ul li a[aria-current="page"]:before,			
			.comment-list a.comment-reply-link:hover,			
			.tcr-contact-info .wpcf7-submit:hover,			
			.site-header .tcr-header-button a:hover,
			.site-header .tcr-bg-color-secondary,
			body.search input.search-submit:hover,
			section.error-404 .search-form .search-submit,
			.comment-respond .comment-form input[type=submit]:hover,
			.services-style-4.services-layout-slider .owl-stage > .owl-item:nth-of-type(4n+2) .tcr-service-content-cover .tcr-service-date{background-color: #4559b3; }

			.services-style-1.services-layout-slider .owl-stage > .owl-item:nth-of-type(4n+2) .tcr-service-slide .tcr-service-service-wrapper,
			.services-style-1.services-layout-grid > .row > .col-sm-12:nth-of-type(4n+2) .tcr-service-slide .tcr-service-service-wrapper{border-bottom-color:#4559b3;}

			

			.services-style-2.services-layout-slider .owl-stage > .owl-item:nth-of-type(3n+2) .tcr-service-slide .tcr-service-wrapper .tcr-service-date,
			.services-style-2.services-layout-grid > .row > .col-sm-12:nth-of-type(3n+2) .tcr-service-slide  .tcr-service-wrapper .tcr-service-date{background-color: rgba(69, 89, 179, 0.14); }

			.projects-style-1 .tcr-project-content-inner .tcr-project-action-icons a,
			.infobox-style-4-counter .elementor-row .elementor-element:nth-of-type(4n+3) .elementor-widget-parezy-infobox .tcr-infobox-icon,
			.blog-style-2.blog-layout-slider .owl-stage > .owl-item:nth-of-type(4n+3) .tcr-post-wrapper .tcr-post-title h3 a:hover,
			.blog-style-2.blog-layout-grid > .row > .col-sm-12:nth-of-type(4n+3) .tcr-post-wrapper .tcr-post-title h3 a:hover,
			.tertiary-infobox-2 .infobox-style-2 .tcr-infobox-icon,
			.services-style-2.services-layout-slider .owl-stage > .owl-item:nth-of-type(3n+3) .tcr-service-wrapper .service-title a:hover,
			.services-style-2.services-layout-grid > .row > .col-sm-12:nth-of-type(3n+3) .tcr-service-wrapper .service-title a:hover,
			.services-style-2.services-layout-slider .owl-stage > .owl-item:nth-of-type(3n+3) .tcr-service-slide .tcr-service-wrapper .tcr-service-date,
			.services-style-2.services-layout-grid > .row > .col-sm-12:nth-of-type(3n+3) .tcr-service-slide .tcr-service-wrapper .tcr-service-date,
			.services-style-1.services-layout-slider .owl-stage > .owl-item:nth-of-type(4n+3) .tcr-service-service-wrapper .tcr-service-content-inner .tcr-service-title h3 a:hover,
			.services-style-1.services-layout-grid > .row > .col-sm-12:nth-of-type(4n+3) .tcr-service-service-wrapper .tcr-service-content-inner .tcr-service-title h3 a:hover,
			.services-style-1.services-layout-slider .owl-stage > .owl-item:nth-of-type(4n+3) .tcr-service-slide .tcr-service-date,
			.services-style-1.services-layout-grid > .row > .col-sm-12:nth-of-type(4n+3) .tcr-service-slide .tcr-service-date{color: #4559b3; }

            .infobox-style-9 .tcr-infobox-icon span,
            .infobox-style-8 .tcr-infobox-icon span,
            .infobox-style-6 .tcr-infobox-icon span,
			.testimonials-style-2 .owl-stage .owl-item:nth-of-type(4n+3) .tcr-testimonial-slide .tcr-testimonials-title .testimonial-title,
			.info-bg-color.bg-color-03 .infobox-style-7 .tcr-infobox-icon,
			.tcr-project-detail-title:before,
			.tcr-teammember-link-profiles li:nth-of-type(3n+3) a,
            .contact-social .social-info-wrapper ul li:nth-of-type(3n+3) a,
			.widget_tag_cloud a:nth-of-type(4n+3),
            .footer-topbar .contact-info-inner .tcr-footer-box:nth-of-type(3n+3) .parezy-footer-icon,
			.site-header ul.social-info li:nth-child(4n+2) a,
			body .owl-carousel .owl-nav .owl-prev,
			body .owl-carousel .owl-nav .owl-next,
			.pricing-table-color .elementor-row > .elementor-column:nth-of-type(4n+2) .elementor-widget-parezy-pricing-table .tcr_pricing_table_wrapper .tcr-pricing-table-footer .tcr-pricing-table-button a,
			.pricing-table-color .elementor-row > .elementor-column:nth-of-type(4n+1) .elementor-widget-parezy-pricing-table .tcr_pricing_table_wrapper .tcr-pricing-table-footer .tcr-pricing-table-button a:hover,
			.pricing-table-color .elementor-row > .elementor-column:nth-of-type(4n+3) .elementor-widget-parezy-pricing-table .tcr_pricing_table_wrapper,
			.blog-style-2.blog-layout-slider .owl-stage > .owl-item:nth-of-type(4n+3) .tcr-post-wrapper .tcr-post-meta .tcr-post-meta-inner,
			.blog-style-2.blog-layout-grid > .row > .col-sm-12:nth-of-type(4n+3) .tcr-post-wrapper .tcr-post-meta .tcr-post-meta-inner,
			.blog-style-2.blog-layout-grid > .col-sm-12:nth-of-type(4n+3) .tcr-post-wrapper .tcr-post-meta .tcr-post-meta-inner,
			.cd-left-expand.elementor-top-section.cd-bg-color-tertiary:after,			
			.cd-right-expand.elementor-top-section.cd-bg-color-tertiary:after,			
			.cd-right-expand.cd-bg-color-tertiary .elementor-column-wrap:after,
			.cd-left-expand.cd-bg-color-tertiary .elementor-column-wrap:after,
			.elementor-section.cd-bg-color-tertiary,
			.cd-bg-color-tertiary.elementor-column > .elementor-column-wrap,
			.cd-color-tertiary.elementor-button.elementor-size-sm,
			.tcr-list-number .tcr-list-wrapper ul li:after,
			.widget_categories ul li span,
			.widget_archive ul li span,
			.single-service .item-download:last-child a,
			.post-author-box,
			.tcr-contact-info .infobox-style-3 i:after,
			.services-style-4.services-layout-slider .owl-stage > .owl-item:nth-of-type(4n+3) .tcr-service-content-cover .tcr-service-date{background-color: #4559b3; }

			.parezy-form.appointment-form,
			.services-style-1.services-layout-slider .owl-stage > .owl-item:nth-of-type(4n+3) .tcr-service-slide .tcr-service-service-wrapper,
			.services-style-1.services-layout-grid > .row > .col-sm-12:nth-of-type(4n+3) .tcr-service-slide .tcr-service-service-wrapper{border-bottom-color:#4559b3;}

			

			.services-style-2.services-layout-slider .owl-stage > .owl-item:nth-of-type(3n+3) .tcr-service-slide .tcr-service-wrapper .tcr-service-date,
			.services-style-2.services-layout-grid > .row > .col-sm-12:nth-of-type(3n+3) .tcr-service-slide  .tcr-service-wrapper .tcr-service-date{background-color: rgba(69, 89, 179, 0.3); }

            .site-footer .social-info-wrapper ul li a i, 
			.blog-style-2.blog-layout-slider .owl-stage > .owl-item:nth-of-type(4n+4) .tcr-post-wrapper .tcr-post-title h3 a:hover,
			.blog-style-2.blog-layout-grid > .row > .col-sm-12:nth-of-type(4n+4) .tcr-post-wrapper .tcr-post-title h3 a:hover,
			.services-style-1.services-layout-slider .owl-stage > .owl-item:nth-of-type(4n+4) .tcr-service-service-wrapper .tcr-service-content-inner .tcr-service-title h3 a:hover,
			.services-style-1.services-layout-grid > .row > .col-sm-12:nth-of-type(4n+4) .tcr-service-service-wrapper .tcr-service-content-inner .tcr-service-title h3 a:hover,
			.services-style-1.services-layout-slider .owl-stage > .owl-item:nth-of-type(4n+4) .tcr-service-slide .tcr-service-date,
			.services-style-1.services-layout-grid > .row > .col-sm-12:nth-of-type(4n+4) .tcr-service-slide .tcr-service-date{color: #4559b3; }	

			
			.progress-bar-style-3 .tcr-progress-bar-value,
			.post.sticky .tcr-blog-classic-inner:after,
			.testimonials-style-2 .owl-stage .owl-item:nth-of-type(4n+4) .tcr-testimonial-slide .tcr-testimonials-title .testimonial-title,
            .info-bg-color.bg-color-04 .infobox-style-7 .tcr-infobox-icon,
			section.error-404 a.fof-back-buttton:hover,
			.tcr-teammember-link-profiles li a:hover,
            .widget_calendar table th,
            .wp-block-calendar table th,
            .parezy-form.contact-form input[type=submit]:hover,
			.tcr-teammember-wrapper-content,
	        .contact-social .social-info-wrapper ul li a:hover,
            .widget_tag_cloud a:nth-of-type(4n+4),
            .team-style-1 .tcr-teammember-content-cover .tcr-teammember-share:hover,
			.team-style-1 .tcr-teammember-social-profiles li a,
			.site-header .tcr-header-button a,
			.site-header ul.social-info li:nth-child(4n+3) a,
			.tcr-blog-classic blockquote,
			.pricing-table-color .elementor-row > .elementor-column:nth-of-type(4n+2) .elementor-widget-parezy-pricing-table .tcr_pricing_table_wrapper .tcr-pricing-table-footer .tcr-pricing-table-button a:hover,
			.blog-style-2.blog-layout-slider .owl-stage > .owl-item:nth-of-type(4n+4) .tcr-post-wrapper .tcr-post-meta .tcr-post-meta-inner,
			.blog-style-2.blog-layout-grid > .row > .col-sm-12:nth-of-type(4n+4) .tcr-post-wrapper .tcr-post-meta .tcr-post-meta-inner,
			.blog-style-2.blog-layout-grid > .col-sm-12:nth-of-type(4n+4) .tcr-post-wrapper .tcr-post-meta .tcr-post-meta-inner,
			.elementor-section.cd-bg-color-quaternary,
			.cd-right-expand.cd-bg-color-quaternary .elementor-column-wrap:after,
			.cd-left-expand.cd-bg-color-quaternary .elementor-column-wrap:after,
			.cd-right-expand.elementor-top-section.cd-bg-color-quaternary:after,
			.cd-left-expand.elementor-top-section.cd-bg-color-quaternary:after,
			.cd-bg-color-quaternary.elementor-column > .elementor-column-wrap,
			.services-style-4.services-layout-slider .owl-stage > .owl-item:nth-of-type(4n+4) .tcr-service-content-cover .tcr-service-date{background-color: #4559b3; }

			.tcr-teammember-thumbnail{border-top-color:#4559b3;}

			.services-style-1.services-layout-slider .owl-stage > .owl-item:nth-of-type(4n+4) .tcr-service-slide .tcr-service-service-wrapper,
			.services-style-1.services-layout-grid > .row > .col-sm-12:nth-of-type(4n+4) .tcr-service-slide .tcr-service-service-wrapper{border-bottom-color:#4559b3;}
			

			.add-class-here{background-color: rgba(69, 89, 179, 0.14); }

            .comment-list .reply:after,
            .widget_recent_services,
			.projects-style-2 .tcr-project-content-cover,
			.elementor-section.cd-bg-color-quinary,
			.cd-right-expand.cd-bg-color-quinary .elementor-column-wrap:after,
			.cd-left-expand.cd-bg-color-quinary .elementor-column-wrap:after,
			.cd-right-expand.elementor-top-section.cd-bg-color-quinary:after,
			.cd-left-expand.elementor-top-section.cd-bg-color-quinary:after,
			.cd-bg-color-quinary.elementor-column > .elementor-column-wrap{background-color: #f8f8f8; }

			.add-class-here{background-color: rgba(248, 248, 248, 0.3); }

            .tcr-blog-classic-inner,  
			.elementor-section.cd-bg-color-senary,
			.cd-right-expand.cd-bg-color-senary .elementor-column-wrap:after,
			.cd-left-expand.cd-bg-color-senary .elementor-column-wrap:after,
			.cd-right-expand.elementor-top-section.cd-bg-color-senary:after,
			.cd-left-expand.elementor-top-section.cd-bg-color-senary:after,
			.cd-bg-color-senary.elementor-column > .elementor-column-wrap{background-color: #fdf5f2; }

			.add-class-here{background-color: rgba(253, 245, 242, 0.3); }
			.tcr-topbar-wrapper {color: #fff; }
			.tcr-topbar-wrapper {background-color: #323663; }
			.tcr-page-title {height: 500px; }
			.site-header .site-logo img {height: 100px; }
			.site-header .sticky-site-logo img {height: 100px; }.tcr_custom_heading_wrapper .tcr-heading-title-wrapper .heading-title { font-family: "Baloo 2";font-weight: 800;line-height: 56px;font-size: 46px; }.tcr_custom_heading_wrapper .tcr-heading-subtitle-wrapper .heading-subtitle { font-family: Mulish;font-weight: 800;letter-spacing: 1px;line-height: 20px;font-size: 14px; }body { font-family: Mulish;font-weight: 400;line-height: 24px;font-size: 16px; }h1 { font-family: "Baloo 2";font-weight: 800;letter-spacing: 0px;line-height: 50px;font-size: 46px; }h2,.elementor-widget-heading h2.elementor-heading-title { font-family: "Baloo 2";font-weight: 800;letter-spacing: 0px;line-height: 40px;font-size: 36px; }h3 { font-family: "Baloo 2";font-weight: 800;line-height: 36px;font-size: 32px; }h4 { font-family: "Baloo 2";font-weight: 800;line-height: 32px;font-size: 28px; }h5 { font-family: "Baloo 2";font-weight: 800;line-height: 30px;font-size: 26px; }h6 { font-family: "Baloo 2";font-weight: 800;line-height: 26px;font-size: 22px; }